.head-label {
    -fx-font-family: "Merriweather";
    -fx-font-weight: bold;
    -fx-font-size: 40px;
}
#recommendBox {
    -fx-padding: 5;
    -fx-background-color: #e1f1fc;
}

#titleAndArrowKeyBox {

}
.title {
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-font-family: "Nunito Medium";

}
#arrowButton {
     -fx-background-color: transparent;
     -fx-border-color: transparent;
}
#recommendList {
    -fx-spacing: 20;
    -fx-padding: 10 0 0 20;
    -fx-font-size: 14px;
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: #e1f1fc;
}

.scroll-pane {
    -fx-background-color: #e1f1fc;
}
