.left-sider {
    -fx-background-color: #dbdbda;
    -fx-pref-width: 200;
    -fx-font-size: 14px;
}

.menu-pane {
    -fx-pref-height: 1080;
    -fx-alignment: TOP_CENTER;
    -fx-background-color: linear-gradient(to bottom, #EAF4FF, #C1E2FF);
}

.search-pane {
    -fx-background-color: transparent;
    -fx-padding: 10 10 0 10;
}

.search-text-field {
    -fx-background-color: #dedede;/* Background color */
/*    -fx-background-color: #00ffff;*/
    -fx-text-fill: #262626;
    -fx-border-color: #ccc; /* Border color */
    -fx-border-radius: 8px; /* Rounded corners */
    -fx-padding: 5px; /* Padding inside the TextField */
    -fx-border-width: 1px; /* Border width */
}

.search-text-field:focused {
    -fx-border-color: #8a8a8a;
    -fx-border-width: 3px;
}

.search-text-field .prompt-text {
    -fx-text-fill: #a7a9a9; /* Change color of the prompt text */
    -fx-font-style: italic; /* Make it italic */
}

.menu-label {
    -fx-text-fill: #262626;
    -fx-pref-width: 170;
    -fx-font-weight: BOLD;
    -fx-font-size: 16px;
    -fx-padding: 20 0 5 0;
    -fx-font-family : 'Nunito';
}

.menu-button {
    -fx-background-color: transparent;
    -fx-font-family : 'Nunito';
    -fx-text-fill: #262626;
    -fx-pref-width: 170;
    -fx-pref-height: 30;
    -fx-alignment: CENTER_LEFT;
}

.menu-button:hover {
    -fx-background-color: #65c1f7;
    -fx-text-fill: #eeeeee;
}

.username-button {
    -fx-background-color: linear-gradient(to bottom, #aac9f1, #73a2e1);
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-font-size: 16px;
    -fx-alignment: BOTTOM_LEFT;
}

.logout-button {
    -fx-background-color: linear-gradient(to bottom, #aac9f1, #73a2e1);
}

.logout-button:hover {
    -fx-background-color : #75bcff;
}