.settings-window {
    -fx-background-color: #e8f2ff;
    -fx-pref-width: 450;
    -fx-pref-height: 450;
    -fx-font-size: 14px;
    /*-fx-alignment: LEFT;*/
    -fx-padding: 20 20 20 20;
}

.user-section {
    -linear-gradient(to right, #E4F2FD, #73a2e1);
    -fx-pref-width: 410;
    -fx-pref-height: 72;
    -fx-alignment: CENTER;
}

.spacing-pane {
    -fx-pref-height: 20;
}

.username-label {
    -fx-pref-width: 410;
    -fx-font-size: 16px;
}

.email-label {
    -fx-pref-width: 410;
    -fx-font-size: 12px;
    -fx-text-fill: gray;
}

.settings-label {
    -fx-text-fill: gray;
    -fx-pref-width: 170;
    -fx-font-size: 14px;
    -fx-padding: 0 0 5 20;
}

.settings-button {
    -fx-background-color : #91d4ff;
    -fx-text-fill: #262626;
    -fx-pref-width: 410;
    -fx-pref-height: 30;
    -fx-alignment: CENTER_LEFT;
}

.settings-button:hover {
    -fx-background-color: #5cbcfa;
    /*-fx-text-fill: #eeeeee;*/
}

.note-label {
    -fx-alignment: TOP_LEFT;
    -fx-text-fill: gray;
    -fx-font-size: 12px;
    -fx-font-weight: BOLD;
    -fx-padding: 5 0 0 20;
}

.changes-vbox {
    -fx-background-color: #e8f2ff;
    -fx-pref-width: 450;
    -fx-pref-height: 450;
    -fx-font-size: 14px;
    /*-fx-alignment: LEFT;*/
    -fx-padding: 20 20 20 20;
}

.changes-button {
    -fx-pref-width: 410;
    -fx-text-fill: white;
    -fx-background-color: #0064e0;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
