.vertical-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-hbar-policy: NEVER;  /* Hide horizontal scrollbar */
    -fx-vbar-policy: AS_NEEDED;  /* Hide vertical scrollbar */
}

.horizontal-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-hbar-policy: NEVER;  /* Hide horizontal scrollbar */
    -fx-vbar-policy: NEVER;  /* Hide vertical scrollbar */
}

/*.scroll-pane .scroll-bar:vertical {*/
/*    -fx-background-color: #dbdbda;*/
/*}*/

/*.scroll-pane .scroll-bar:vertical .thumb {*/
/*    -fx-background-color: #b4b4b4; !* Color of the scrollbar thumb (the draggable part) *!*/
/*    -fx-pref-width: 8px;*/
/*}*/

.content-pane {
    -fx-background-color: #ffffff;
    -fx-pref-width: 800;
    -fx-pref-height: 530;
    /*-fx-padding: 40 40 40 40;*/
}

.head-label {
    -fx-font-weight: BOLD;
    -fx-font-size: 32px;
    -fx-padding: 40 0 0 40;
}

.vbox {
    -fx-background-color: #ffffff;
}

.vbox-padding {
    -fx-background-color: #ffffff;
    /*-fx-hgap: 25;*/
    /*-fx-vgap: 40;*/
    -fx-padding: 0 0 0 40;
}

.flow-pane {
    -fx-background-color: #ffffff;
    -fx-hgap: 25;
    -fx-vgap: 40;
    -fx-padding: 0 0 0 40;
}